.background{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(/images/home.jpg);
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: 100%;
    overflow: none;
    scrollbar-darkshadow-color: black;
    background-blend-mode:multiply;
}
.topNav{
    color: white;
    text-align: center;
}
#hidden{
    position:relative;
    left: 60%;
    bottom: 32px;

}
#hold{
    height:20px;
    position: relative;
    right: 40%;
    background-color: grey;
    padding-right: 70px;
    border-radius: 10px;
}
.icons{
    position: relative;
    left: 40%;
    bottom:50px;
    justify-content: space-between;
}
#search{
    position:absolute;
    bottom:12px;
    left:5px;
    width:5px;
     height:10px;
}
#pin{
    position:absolute;
    bottom:12px;
     left:190px;
      width:5px;
       height:7px;
}
#camera{
    position:absolute;
     bottom:12px;
     left:220px;
      width:5px;
      height:9px;
}
.shopNow{
    text-align: center;
    margin-top: 10%;
    color: white;
}
.button{
    background-color: #ffac7d;
    padding: 5px;
    border-radius: 5px;
}
#Two{
    width: 20%;
    height: 200px;
    margin: 20px;

}
#Three{
    width: 20%;
    height: 200px;
    margin: 20px;
}
#One{
    width: 20%;
    height: 200px;
    margin: 20px;
}
.explore{
    margin-left: 180px;
    display: flex;
}
#HR{
    width: 10%;
    position: relative;
    right: 20%;
    top: 40px;
}
.exploreStyle{
    padding-left: 200px;
}
.Discover{
    margin-left: 40%;
    background-color: #ffac7d;
    border-radius: 5px;
    padding: 5px;
}
.popularDesign{
    background-color: #002d3d;
    height: 390px;
}
.pop{
    width: 100%;
    color: #ffac7d;
    padding-left: 24%;
}
#Rustic{
    color: white;
}
#Oak{
    color: white;
}
#mustard{
    color: white;
}
#hundred{
    color: white;
}
#forty{
    color: white;
}
#seventy{
    color: white;
}
.designs{
    width: 100%;
    display: flex;
}
.All{
    margin-left: 50%;
}
#btn{
    padding: 5px 10px;
    border-radius: 6px;
    background-color: #ffac7d;
}
#vase{
    float: right;
    width: 50%;
    margin-right: 150px;
    /* padding-bottom: 70px; */
    margin-top: 30px;
    /* height: 400px; */

}
.vasee{
    background-color: #ffe5d6;
    height: 500px;
    display: flex;
    float: center;
}
.inspiration{
    background-size: cover;
    border-radius: 50%;
    height: 400px;
    width: 55%;
    background-color:#ffac7d;
    /* border: solid rgb(219, 203, 203); */
    padding-left: 100px;
    background: cover;
    padding-top: 100px;
    /* margin-left: 20%; */
    position: relative;
    left: 150px;
  
    
}

    

.Newsletter{
    text-align: center;
    height: 200px;
}
#email{
    border-radius: 5px;
}
#Go{
    border-radius: 5px;
    background-color: #ffac7d;
    padding: 0px 10px;
}
.social{
background-color: #002d3d;
}
#home{
    color: #ffac7d;
}
.media{
    color: white;
}
.about{
    list-style: none;
    margin-left: 100px;
}
.social{
    display: flex;
    list-style: none;
    justify-content: space-between;
    height: 250px;
    padding: 50px;
    text-decoration-color: white;
}
.designs{
    margin-left: 23%;
 
}
#imgOne{
width: 200px;
margin: 20px;
}
#imgTwo{
    width: 200px;
    margin: 20px;
    }
#imgThree{
        width: 200px;
        margin: 20px;
        }
.abt{
    color: white;
}
.shipping{
    color: white;
}
.career{
    color: white;
}
.number{
    color: white;
}
.modern{
    display: flex;
    padding-left: 21%;
}
#moderne{
    background-color:#ffe5d6;
    border-bottom: #ffe5d6;

}
#classic{
    padding-left: 18%;
}
#scandi{
    padding-left: 12%;
}
.flower{
    height: 100px;
}
